.header {
    /* #a4dfcd */
    background-color:  #cde9e0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo2 {
    width: 120px;
    cursor: pointer;
}

.favoritos {
    height: 20px;
    width: auto;
    cursor: pointer;
}



/* tablet */
@media (max-width: 1024px) {

  .logo2 {
    width: 100px;
  }

}


/* movil */
@media (max-width: 600px) {

  .header {
    padding: 0.5rem;
  }

  .logo2 {
    width: 80px;
  }

  .favoritos {
    height: 18px;
  }

}