.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.favoritos {
    height: 20px;
    width: auto;
    cursor: pointer;
}