.header {
    /* #a4dfcd */
    background-color:  #cde9e0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.logo2 {
    width: 10%;
    cursor: pointer;
}

.favoritos {
    height: 20px;
    width: auto;
    cursor: pointer;
}