.lista-heroes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  gap: 20px;
  padding: 20px;
}



/* tablet */
@media (max-width: 1024px) {

  .lista-heroes {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
  }

}


/* movil */
@media (max-width: 600px) {

  .lista-heroes {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }

  
}